.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBg{
  background-color: #FEFCFB;
  height: 114px;
  display: flex;
}

.btnNav1{
  font-weight: 600;
  color: #FA7436;
  border: none;
  background-color: #FEFCFB;
}
.btnNav2{
  background-color: #FA7436;
  color: white;
  width: 160px;
  height: 50px;
  border-radius: 5px; 
  font-weight: 600;
  border: none;
  margin-left: 32px;
}

.home{
  height: 800px;
  background-color: #FEFCFB;
}
.parr{
  height: 120px;
  width: 450px;
  color: #666666;
  ;
}
.textIz{
  height: 486px;
  width: 521px;
  margin-top: 60px;
  margin-left: 70px;
  margin-right: 20px;
}

.startd{
  height: 210px;
  width: 521px;
  font-size: 64px;
  text-align: left;
}
span{
  color: #FA7436;
}
.descrip{
  font-size: 20px;
}

.btnDis{
  margin-top: -300px;
  background-color: #FEFCFB;
  background-color: none;
  color: #FA7436;
  width: 160px;
  height: 50px;
  border-radius: 5px; 
  font-weight: 600;
  border: 1px solid #FA7436;
  font-size: 18px;
}

.btn2{
  margin-top: -50px;

}

.discoSearch{
  background-color: #FFFFFF;
  height: 124px;
  width: 841px;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  
}
.Drop1{
  text-align: left;
  height: auto;
  width: auto;
}

.ptxt{
font-size: 12px;
color: #666666;
}

.btn3{
background-color: #FA7436;
height: 60px;
width: 165px;
color: #FEFCFB;
border: none;
border-radius: 10px;
font-weight: 500;
}
.thing{
  margin: 25px;
  margin-top: 100px;
}

.img1{
position: absolute;
margin-left: 270px;
margin-top: -210px;
}

.thing1{
  font-size: 48px;
  font-weight: 700;
}
.thing2{
  margin: 20px;
  padding: auto;
  margin-bottom: 100px;
}
.About{
  background: #F7F8FC;
  height: 724px;
}
.col1{
  height: 278px;
  width: 370px;
  margin-right: 25px;
  border-radius: 8px;
  text-align: left;
  background-color: #FFFFFF;
}
.Destination{
  background-color: #FEFCFB;
  height: auto;
}

.inter1{
  height: 660px;
  width: 1170px;
  margin:auto;

}
.txtexclusive{
  margin: auto;
  height: 142px;
  width: 675px;
  margin-bottom: 25px;
}

.txtE{
  font-size: 48px;
  font-weight: 700;
}
.txtD{
  font-size: 18px;
  color: #666666;
}

.col-6{
  border-radius: 8px;
}

.card1{
  height: 426px;
  width: 270px;
  margin-left: 50px;
  border-radius: 8px;
  border: 2px solid #666666;
}
.textS{
  color: #999999;
}
.cardD{
  border-radius: 8px;
  color: #FA7436;
  background-color: #FFE7DB;
  height: 28px;
  width: 52px;
}
.card3{
  width: 370px;
  height: 447px;
  border-radius: 16px !important;
}
.txtE3{
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}
.txtD3{
  font-size: 18px;
  font-weight: 400;
  color: #666666;
}
.bi-cursor-fill{
  color: #FA7436;
}
.cardT1{
  font-size: 24px !important;
}

.conCards{
  margin-top: 50px;
}
.textT1{
  color: #FA7436;
  font-size: 24px;
  font-weight: 600;
}
.Tour{
  background-color: #FEFCFB;
}
.Palmas{
  position: absolute;
  margin-left: 250px;
  margin-top: 20px;
}

.txtH{
  font-weight: 700;
}

.People{

}