.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBg{
  background-color: #FEFCFB;
  height: 114px;
  display: flex;
}

.btnNav1{
  font-weight: 600;
  color: #FA7436;
  border: none;
  background-color: #FEFCFB;
}
.btnNav2{
  background-color: #FA7436;
  color: white;
  width: 160px;
  height: 50px;
  border-radius: 5px; 
  font-weight: 600;
  border: none;
  margin-left: 32px;
}

.home{
  height: 885px;
  background-color: #61dafb;
}
.textIz{

  display: flex;
  flex-direction: row;
  height: 486px;
  width: 521px;
  background-color: #282c34;
}
.imgdere{
  height: 530px;
  width: 500px;
  background-color: #282c34;

}

.stard{
  height: 210px;
  width: 521px;
  font-size: 64px;
  
}